.footerContainer{
    display: flex;
    padding:40px;
    flex-direction: column;
    align-items: center;
    background-color: #F9E6F0;
}

.footerContainer i {
    font-size: 30px;
    margin-right: 20px;
    color: #2D2D2D;
}

.footerContainer i:hover{ transform: scale(1.5);}

.footerContainer p{
    margin-top: 20px;
    margin-left: -20px;
}